//- views/pages/index.pug
extends ../layouts/layout.pug

block content
    h1 Lista de Animais
    if animais.length > 0
      ul
        each animal in animais
          li 
            | Nome: #{animal.nome}
    else
      p Não há animais cadastrados.