//- views/partials/footer.pug
footer
  p &copy; 2023 Meu Site. Todos os direitos reservados.
  
  nav
    ul
      li: a(href='/privacy-policy') Política de Privacidade
      li: a(href='https://facebook.com' target='_blank') Facebook
      li: a(href='https://twitter.com' target='_blank') Twitter
      li: a(href='https://instagram.com' target='_blank') Instagram

  p
    | Feito com ❤️ por [Fushisuno]