header#header.header 
  #imageLogo(style="")
    img(src="./img/logoSvg.svg", alt="", srcset="" style="width: 100px")
  
  nav
    ul
      li: a(href='/') Home
      li: a(href='/dono') Donos
      li: a(href='/animais') Animais
      li: a(href='/veterinarias') Veterinárias
      li: a(href='/consultas') Consultas e Registros
      li: a(href='/educacao') Educação e Cuidados
      li: a(href='/servicos') Serviços Próximos
      li: a(href='/configuracoes') Configurações

