//- views/layouts/layout.pug
doctype html
html
  head
    title My Awesome Site
    link(rel='stylesheet', href='/css/styles.css')
  body
    block header
      include ../partials/header

    block content

    block footer
      include ../partials/footer